<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container">
    <div class="row">
               <div id="custom-search-input">
                                <div class="input-group col-md-12" style="text-align: center">
                                    <input type="text" class="search-query form-control" placeholder="Search With ID"  name="rest_id" [(ngModel)]="rest_id"/>
                                    <span class="input-group-btn">
                                        <button class="btn btn-danger" type="button" (click)="findRestaurantById(restaurant.rest_id)">
                                            <span class=" glyphicon glyphicon-search"></span>
                                        </button>
                                    </span>
                                </div>
                            </div>
    </div>
    </div>
    
<div class="container">
<div class="container">
    <div class="row col-md-6 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            
            <th>Menu Item</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Description</th>
            <th>Discount Rate</th>
            <th>Remove </th>
            
            
            
        </tr>
    </thead>
    <tbody>
        

       
     <tr *ngFor="let item of basketData.hasItem"> 
        

           
            <td>{{item.menuitem.itemName}}</td>
            <td>{{item.quantity }}</td>
            <td>{{item.menuitem.price * item.quantity}}</td>
            <td>{{item.menuitem.desc}}</td>
            <td>{{basketData.bill}}</td>
            <td class="text-center"><button class="btn btn-danger btn-xs" (click)="removeItem(item.menuitem.itemId)"><span class="glyphicon glyphicon-minus"></span> </button></td>
            <td class="text-center"><button class="btn btn-success btn-xs" (click)="addItem(item.menuitem.itemId)"><span class="glyphicon glyphicon-plus"></span> </button></td>
            
            
            
    </tr>

    </tbody>
    </table>

    <button type="button" class="btn btn-danger btn-lg">Without discount :{{basketData.totalOrderPrice}} TL</button> 
     <h3> </h3>
    <h3> </h3>
    <button type="button" class="btn btn-success btn-lg">With discount: {{basketData.totalExpenses}} TL - Discount rate: % {{basketData.bill}} </button>
    <h3> </h3>
    <h3> </h3>
    
    <h3> </h3>
    <h3> </h3>
   <button (click)="doPurchase()"class="btn btn-outline-primary btn-lg btn-block"
                          
				      
          > PURCHASE
  </button>

  
        
    </div>
</div>


<router-outlet></router-outlet>